{
    "names": {
        "units": {
            "unitId": "unitName",
            "unitId": "unitName",
            "...": "..."
        },
        "modules": {
            "moduleId": "moduleName",
            "moduleId": "moduleName",
            "...": "..."
        },
        "types": {
            "typeId": "typeName",
            "typeId": "typeName",
            "...": "..."
        }
    },
    "colors": {
        "unitId": "hexaColor",
        "unitId": hexaColor",
        "...": "...",
        "types": [
            "hexaColor",
            "hexaColor",
            "..."
        ]
    },
    "weights": {
        "unitId": {
            "ECTS": unitWeight,
            "moduleId": {
                "typeId": typeWeight,
                "typeId": typeWeight,
                "...": ...,
                "self": moduleWeight
            },
            "moduleId": {
                "typeId": typeWeight,
                "type2Id": typeWeight,
                "...": ...,
                "self": moduleWeight
            },
            "...": {...}
        },
        "unitId": {
            "ECTS": unitWeight,
            "moduleId": {
                "typeId": typeWeight,
                "typeId": typeWeight,
                "...": ...,
                "self": moduleWeight
            },
            "moduleId": {
                "typeId": typeWeight,
                "typeId": typeWeight,
                "...": ...,
                "self": moduleWeight
            },
            "...": {...}
        },
        "...": {...}
    }
}
